.contentContainer {
  max-width: 700px;
  margin: 0 auto;
}

.postContainer {
  section {
    display: flex;
    flex-direction: row;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      svg {
        margin-right: 0.5rem;
      }

      margin: 1rem 0;

      & + div {
        margin-left: 2rem;
      }
    }
  }
}
